@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: #F9F9F9;
  background: #1F1F1F;
}

html {
  scroll-behavior: smooth;
}

@layer base {

  h1,
  h2,
  h3,
  p,
  div,
  td,
  th {

    @apply font-inter;
  }

}