@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #00ff41;
  background: #000000;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3,
  p,
  div,
  td,
  th {
    @apply font-mono;
  }
}